sfxs: [
  {
    name: "SFX_play"
    file: "23_LD_Feedback_Play"
    volume: 1.009948
  }
  {
    name: "SFX_place"
    file: "23_LD_Feedback_Construction_1"
    volume: 1.000000
  }
  {
    name: "SFX_goeland"
    file: "23_LD_Feedback_Goeland"
    volume: 1.018458
  }
  {
    name: "SFX_reset"
    file: "23_LD_Feedback_Reset"
    volume: 1.016942
  }
  {
    name: "SFX_construct"
    file: "23_LD_Feedback_Construction_1"
    volume: 1.014800
  }
  {
    name: "SFX_click"
    file: "23_LD_Feedback_Clic_1"
    volume: 1.022115
  }
  {
    name: "SFX_hover_play"
    file: "23_LD_Feedback_Clic_2"
    volume: 1.022725
  }
  {
    name: "SFX_click_play"
    file: "23_LD_Feedback_Play"
    volume: 1.016355
  }
  {
    name: "SFX_click_play"
    file: "23_LD_Feedback_"
    volume: 0.567833
  }
]
